{% extends "main_app/base.html"%}
{% load static %}
{% block content %}
  <h4>Currently detected software data:</h4>
  <table>
  <tbody class="hide_mobile">
    <tr>
      <th>Software:</th>
      <th>Version:</th>
      <th>Download link:</th>
      <th>Checksum:</th>
      <th>Updated:</th>
    </tr>
    {% for app in applications %}
      {% if forloop.counter|divisibleby:2 %}
    <tr class="row" style='cursor: pointer; cursor: hand;' onclick="window.location='api/versions/{{ app.id }}';">
          <td>{{ app.software }}</td>
          <td>{{ app.version }}</td>
          {% if app.dllink or app.dllink_x86 or app.dllink_x64%}
            <td>True</td>
          {% else %}
            <td>False</td>
          {% endif %}
          {% if app.checksum or app.checksum_x86 or app.checksum_x64%}
            <td>True</td>
          {% else %}
            <td>False</td>
          {% endif %}
          <td>{{ app.lastupdated }}</td>
    </tr>
        {% else %}
      <tr class="second row" style='cursor: pointer; cursor: hand;' onclick="window.location='api/versions/{{ app.id }}';">
            <td>{{ app.software }}</td>
            <td>{{ app.version }}</td>
            {% if app.dllink or app.dllink_x86 or app.dllink_x64%}
              <td>True</td>
            {% else %}
              <td>False</td>
            {% endif %}
            {% if app.checksum or app.checksum_x86 or app.checksum_x64%}
              <td>True</td>
            {% else %}
              <td>False</td>
            {% endif %}
            <td>{{ app.lastupdated }}</td>
      </tr>
        {% endif %}
    {% endfor %}
  </tbody>
  </table>
  {% endblock content %}
