{% load static %}
<!DOCTYPE html>
<html lang="en">
<div class="wrapper">
  <div id="main">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <link rel="icon" href="{% static "main_app/favicon.ico" %}"/>
  <title>Early Warning System</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'main_app/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'main_app/css/style.css' %}" rel="stylesheet">
</head>
<body class="bg-white">
  <nav class="navbar-default navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        {% if page == 'home' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'app-home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        {% if page == 'about' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'app-about' %}">About</a>
        </li>
        {% if user.is_authenticated %}
        {% if page == 'profile' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'profile' %}">Subscriptions</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        {% if page == 'change_password' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'change_password' %}">Account</a>
        </li>
        {% endif %}
        {% if user.is_authenticated == False %}
        {% if page == 'login' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        {% if user.is_authenticated == False %}
        {% if page == 'register' %}
        <li class="nav-item active">
        {% else %}
        <li class="nav-item">
        {% endif %}
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main role="main">
    {% if messages %}
    {% for message in messages %}
    <div class="container alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% if page == 'home' %}
    <div class="jumbotron">
      <div class="container">
        <h2>The Early Warning System</h2>
        <p class="lead">... a web application that helps system administrators keep track of software updates for {{ appscount }} common enterprise applications. Choose which software updates
          you would like to be notified of and the system will send an automated email for you once a new version is detected. You can also access all software data via an <a href="https://www.earlywarningsys.net/api/versions/">API</a>. All for free!</p>
          <p><a class="btn btn-lg btn-success" href="{% url 'register' %}" role="button">Sign up today</a></p>
        </div>
      </div>
    {% endif %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'main_app/js/bootstrap.bundle.min.js' %}"></script>
</div>
</div>
<footer class="footer text-center text-white">
  <p>The Early Warning System</p>
</footer>
  </html>
