<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div class="body" style="text-align: center; font-style: normal; font-weight: 300; width: 90%; margin: auto; color: #0db523; background-color: black; font-size: 12px;">
      <h2>This is an Early Warning System Announcement!</h2>
      <p>To all the Early Warning System users:</p>
      <p>I have updated The Early Warning System. There are many improvements to the old version and new applications added. Some applications have sadly been removed from tracking.</p>
      <p>The biggest change has been the addition of download link crawling. The Early Warning System now fetches download links and HASH checksums (if possible). You can access the data through the API: https://www.earlywarningsys.net/api/versions/ and use it in your own automation solutions.</p>
      <p>Changelog: <a href= "https://www.earlywarningsys.net/about_update">https://www.earlywarningsys.net/about_update</a></p>
      <p>Cheers!</p>
      <p>-Matti</p>
      <p>This message was delivered to you by The Early Warning System. <a href="https://www.earlywarningsys.net/login">https://www.earlywarningsys.net</a></p>
      <p>If you would like to stop receiving emails from this service then just sign in at: <a href="https://www.earlywarningsys.net/login">https://www.earlywarningsys.net/login</a> and delete your account.<p>
      <p>Contact support at earlywarningsyste@gmail.com or <a href= "https://www.earlywarningsys.net/contact">https://www.earlywarningsys.net/contact</a>.</p>
  </div>
</body>
</html>
