{% extends "main_app/base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section margin_top_30">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group margin_top_15">
        <button class="button" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="margin_top_15">
      <small class="text-muted">
        Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
  </div>
{% endblock content %}
